node_modules/
.wwebjs_auth*/
.wwebjs_cache*/
session.madeline/
downloads/
*.log
*.lock
*.txt
*.json
.env

# Ignore real config files
tg-api-hash-id.conf
tg-to-wa-forwarding-whatsapp-channels.conf
tg-to-wa-forwarding-whatsapp-channels-with-replace-text.conf
tg-to-wa-heartbeat-whatsapp-channels.conf
tg-to-wa-text-replace-dictionary.conf
tg-to-wa-test-telegrame-channels.conf
tg-to-tg-forwarding-telegrame-channels.conf
tg-to-tg-forwarding-telegrame-channels-with-replace-text.conf

# Allow example files
!*.example

